/*{  border: 0.1rem solid red;}*/

body{
  background-color: grey;
}

h1{
  color: white;
}
.user p{
  margin-bottom: 0;}

.user{

  border-top: 0.2rem solid white;
  border-bottom:  0.2rem solid white;
  padding: 1rem;
}

.online{
  background-color: #BEE7D0;
}

.offline{
  background-color: #BEC1E7;
}


.profile-img{
  max-height: 4.8rem;
  border-radius: 50%;
}

.picture{
  max-height: 6rem;
}

.status, .status p{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.username, .status{
  padding-left: 1rem;
}

.username{
  text-align: center;
}


@media (max-width: 550px){
  .extra-status{
    display: none;
  }
  .status{
    text-align: center;
  }

  .picture{
    width: auto;
    min-width: 2rem;
  }
  .three.columns{
     width: 82.6666666667%;
  }
  .seven.columns{
    width: 82.6666666667%;
}}

footer{
  color: white;
  text-align: center;
  margin-top: 2rem;
}
